* body {
    margin: 0;
    padding: 0;
    margin-top: 0;
}

nav {
    background-color: rgb(200, 200, 202);
}

h1 {
    text-align: center;
    margin-top: -1px;
}

box {
    background-color: red;
}